<div class="column">
    <div class="relative full-height">
      <input
        type="text"
        placeholder="Add new column"
        class="column_title column_title-create"
        [(ngModel)]="newColumnTitle"
        (keyup.enter)="handleAddColumn()"
        />
        <button
        class="btn btn-border btn-add-column"
        (click)="handleAddColumn()">add column</button>
      </div>
      <!-- [value]="newColumnTitle"
      (input)="newColumnTitle = $event.target.value" -->
  </div>