<div
  class="task column_create show">
  <input
    type="text"
    placeholder="enter title"
    class="column_create_title"
    [(ngModel)]="task.title"
    name="title"
    ngDefaultControl
  />
  <textarea
    placeholder="enter description"
    class="column_create_description"
    [(ngModel)]="task.description"
    [ngModelOptions]="{standalone: true}"
  ></textarea>
  <button (click)="handleSubmit()" class="btn column_create_btn btn-submit">Save</button>
  <button
    v-on:click="handleCloseDialog"
    class="btn column_create_btn"
    *ngIf="isDialog">Cancel</button>
</div>