<div
    class="relative full-height"
    v-on:drop="drop"
    v-on:dragover="allowDrop"
  >
    <div class="group-btn">
      <button
        class="btn btn-toggle-add-task btn-border"
        v-bind:class="{show: showAddTask}"
        (click)="toggleAddTask()">Add task</button>
      <button
        class="btn btn-toggle-add-task btn-border btn-delete-column"
        v-on:click="handleDeleteColumn(column.id)"
      >
        delete
      </button>
    </div>
    <div class="full-height">
      <h2
        v-bind:class="column.title.toLowerCase()"
        class="column_title"
      >
        {{ column.title }}
      </h2>
      <div class="column_content">
        <app-add-task *ngIf="showTaskForm" [columnId]="column.id" [isDialog]="false"></app-add-task>
        <app-task
          *ngFor="let task of column.tasks"
          [task]="task"
          [columnId]="column.id"
          :handleClickEdit="handleClickEdit"
          :handleDeleteTask="handleDeleteTask"></app-task>
      </div>
    </div>
  </div>