<div class="container">
    <div class="wrap">
      <div
        *ngFor="let column of columns | async"
        class="column">
        <app-column [column]="column"></app-column>
      </div>
      <app-add-column></app-add-column>
    </div>
    <div class="dialog" *ngIf="showForm">
      <div class="dialog_container">
        <app-add-task [task]="taskEdit"></app-add-task>
        <!-- <FormTask
          :task="taskEdit"
          :handleSubmit="handleSubmit"
          :handleCloseDialog="handleCloseDialog"
        ></FormTask> -->
      </div>
    </div>
  </div>
